<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>
        <%=title %>
    </title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    
    <h1 id="page-heading">
        <i class="fas fa-address-book"></i>
        My Contacts List
    </h1>
    <div id="contact-list-container">
        <ul>
            <% for(let i of contact_list){ %>
                <li class="contact">
                    <div class=details>
                    <p><%= i.name %></p>
                    <p><%=i.phone %></p>
                </div>
                <div class="delete-button">
                    <form action="/contacts/<%= i.id %>?_method=DELETE" method="POST">
                        <button class="fas fa-window-close">Delete Post</button>
                    </form> 
                </div>
                </li>
                
            <% } %>
        </ul>
    </div>
    <form id="new-contact-form" action="/contacts" method="POST">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="phone" placeholder="Enter Phone" required>
        <button type="submit">Add Contact</button>
    </form>
    <script src="/js/home.js"></script>

</body>
</html>